body
{
 background:url("imagenes/fondo.jpg") center center no-repeat;
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size:1400px 650px;
 margin-left: 15%;
 margin-right: 15%;
}
#juego {
    background-color: #BDECB6;
    width: 600px;
    height: 600px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 25%;
    height: 25%;
    background-color: black;
    border: 3px solid black;
    border-radius: 20px;
}

.letra {
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

input 
{
    width: 90px;
    height: 30px;
}

#enlaceinicio
{
    color:blue;
    font-size: 30px;
}

#cuadroDialogo
{
    background-color: rgb(248, 255, 250);
    position: fixed;
    left: 830px;
    top: 15%;
    right: 150px;
    border: 4px black solid;
    border-radius: 10px;  
}

.linea {
  background-color: black;
  height: 4px;
}
